body{
    text-align: center;
    color:#a52a90;
    margin: 0;
    background-color: rgba(251, 255, 0, 0.445);    
}

h1{
    margin: 2rem;
    font-size: 2.5rem;
}

label{
    display: block;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 650;
    color:rgb(7, 65, 255);
    margin-top: 1rem;
}

input{
    display: block;
    width:18rem;
    padding: 1.2rem;
    margin-left: 38rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 4px;
    border-radius: 8px;
    height: 12px;
}
nav{
    height: 6rem;
    font-size: 1.4rem;
    padding-left:6rem;
}

#fun{
    padding-right: 28rem;
    font-weight: bolder;
    color: aqua;
    font: 1.7em sans-serif;
}

button{
    font-size: 1.3rem;
    background-color: rgb(43, 226, 52);
    color:white;
    padding: 5px;
    margin-left: 1.5rem;
}

#output{
    font-size: 2rem;
    padding: 2rem;
    font-weight: 600;
    color: blue;
}

footer{
    margin-top: 2rem;
}