@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding-top: 1.2rem;
    color:brown;
}

label{
    display: block;
    text-align: center;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    padding-top: 1rem;
    color:#3B82F6;
    font-weight: 650;
}

input{
    display: block;
    margin:auto;
    width: 20rem;
    margin-top: 0.2rem;
    padding: 1rem;
    font-size:large;
    border-radius: 14px;
}

body{
    text-align: center;
    font-size: 1.5rem;
}

header{
    background-color:#3B82F6;
    color: white;
    text-align: initial;
    padding: 0.5rem; 
}

.head{
    font-size: 1.7rem;
    font-family: 'Merienda', cursive;
    padding-left: 4rem;
    padding-top: 0.3rem;
}
.nav{
    font-size: 1.5rem;
    display: flex;
    justify-content: end;

}

.nav .nav-link{
    color:black;
    padding: 1rem;
}

.nav .active{
    font-weight: bold;
  
}

li{
    list-style: none;
}

button{
    font-size: 1.5rem;
    background-color: #3B82F6;
    color:white;
    margin:auto;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 2px solid white;
    border-radius: 7px;

}

#output{
    font-size: 2rem;
    padding: 1.2rem;
    font-weight: 600;
    color: rgb(2, 2, 119);
   
}

footer{
    text-align: center;
    background-color:#6B7280;  
}

p{
    font-size: 2rem;
    color:white;
    font-family: 'Merienda', cursive;
    padding: 0.8rem;
}

img{
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    box-shadow:0px 0px 10px 0px black;
}

img:hover{
    background-color: blue;
}

@media (min-width: 768px) and (max-width: 1199.98px){
    body {
      background-color: lightpink;
    }
  }